<div class ="container mt-1">
  <div class ="text-right">
    <%= search_form_for @q do |f| %>
     <%= f.label :name_or_address, "店舗名や住所で検索できます" %>
     <%= f.search_field :name_or_address_cont %>
     <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class="row">
      <div class="col-md-12 pt-3">
      <h3>店舗一覧</h3>
    </div>
    <% @shops.each do |shop| %>
    <div class="col-md-5 text-center pt-3 md-offset-1">
      <%= link_to shop_path(shop.id) do %>
        <h5><%= shop.name %></h5>
        <%= attachment_image_tag shop, :image, :fill, 250, 250, fallback: asset_path("no_image.png"), size:'250x250' %>
      <% end %>
    </div>
    <div class="col-md-4 text-left mt-5  pt-3 offset-1">
      <table class="table" style="table-layout:fixed;">
        <tr>
          <th style="width:100px;">住所</th>
          <td style="width:200px;"><%= shop.address %></td>
        </tr>
        <tr>
          <th>おすすめ数</th>
          <td><%= shop.recommends.count %></td>
        </tr>
        <tr>
          <th>おすすめポイント</th>
          <td><%= shop.introduction %></td>
        </tr>
      </table>
    </div>
    <% end %>
    <div class="col-md-3 center-block pt-2 offset-5">
      <%= paginate @shops %>
    </div>
    <div class="col-md-6 text-center btn-group-vertical offset-3 mt-3">
      <%= link_to "ランキング表示する", recommend_ranking_shops_path, class: "btn btn-outline-success"  %>
    </div>
  </div>
</div>