<P>店名: <%= @shop.name %></P>
<%= attachment_image_tag @shop, :image %>
<p>住所: <%= @shop.address %></p>
<p>TEL: <%= @shop.telephone_number %></p>
<p>店舗概要: <%= @shop.introduction %></p>
<p>URL: <%= @shop.url %></p>
<% if @shop.patissier == current_patissier %>
<%= link_to "編集する", edit_shop_path(@shop) %>
<%= link_to "削除する", shop_path(@shop), method: :delete %>
<% end %>
<% if patissier_signed_in? %>
<% if @shop.recommend_by?(current_patissier) %>
<%= link_to shop_recommend_path(@shop), method: :delete do %>
おすすめ取り消し
<% end %>
<% else %>
<%= link_to shop_recommend_path(@shop), method: :post do %>
おすすめする
<% end %>
<% end %>
 <% elsif user_signed_in? %>
 <% if @shop.favorited_by?(current_user) %>
    <p>
      <%= link_to shop_favorites_path(@shop), method: :delete do %>
        行きたいリストから削除
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to shop_favorites_path(@shop), method: :post do %>
        行きたいリストに追加
      <% end %>
    </p>
  <% end %>
<% end %>
<p>おすすめの数</p>
<%= @shop.recommends.count %>
<p>コメント件数:<%= @shop.comments.count %></p>
<% @shop.comments.each do |comment| %>
<%= comment.comment %>
<% if comment.patissier == current_patissier %>
<%= link_to "削除",shop_comment_path(comment.shop,comment),method: :delete %>
<% end %>
<% end %>
<% if patissier_signed_in? %>
<%= form_with(model:[@shop,@comment],local: true)do |f| %>
<%= f.text_area :comment,placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
<% end %>
<%= link_to "一覧へ戻る", shops_path(@shop) %>