<!DOCTYPE html>
<html>
  <head>
    <title>Patissierrecommend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light ">
             <a class="navbar-brand" href="/"><span><%= image_tag "logo.png", class: "logo" %></span></a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

     <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>

    <% end %>
    <% if patissier_signed_in? %>
      <li>
        <%= link_to "パティシエログアウト", destroy_patissier_session_path, method: :delete %>
      </li>
      
<%= link_to "店舗登録する", new_shop_path %>

    <% end %>
     </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
     <footer>
          <div class='mx-auto text-center mt-5'>
            <p>Copyright © 2021 Patissierrecommend Inc. All Rights Reserved.</p>
          </div>
    </footer>
  </body>
</html>
